<!DOCTYPE html>
<html>
  <head>
    <title>Extra Keys</title>
    
    <!-- Mobile full-screen -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    
    <!-- Metro CSS -->
    <link rel="stylesheet" href="/bower_components/Metro-UI-CSS/min/metro-bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Socket.io, jQuery, Bootstrap/Metro -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui-1.10.4.custom.js"></script>
    <script src="/bower_components/Metro-UI-CSS/min/metro.min.js"></script>

    <!-- Ember -->
    <script src="/libs/handlebars.js"></script>
    <script src="/libs/ember.js"></script>
    <script src="/libs/ember-data.js"></script>  

    <!-- Touch -->
    <script src="/bower_components/hammerjs/hammer.js"></script>
    <script src="/bower_components/jquery-hammerjs/jquery.hammer.js"></script>

    <!-- ExtraKey Main Library -->
    <script src="/javascripts/extraKey.client.js"></script>

    <!-- start screen -->
    <script src="/javascripts/startscreen.js"></script>

    <!-- Ember App -->
    <script src="/extrakey/extrakey.app.js"></script>
  </head>

    <!-- Development mode Live Reload -->
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':6960/livereload.js"></' + 'script>')</script>
