<? include partials/header ?>

	<body class="metro">
		<div class="container">
			<? console.log('TESTING\n\n\n', keys, '\n\n\n\nEND TEST'); ?>
			<? for (var i in keys) { ?>
				<? var classes = []; console.log('keys test:', keys[i]);
					var key = keys[i];
					if (key.icon) { classes.push('icon') } 
					if (key.size) { classes.push(key.size) } 
					if (key.width) { classes.push(key.width) }
				?>
				<a class="tile key <?= classes.join(' ') ?> bg-cyan" data-key="<?= key.key ?>">
				
					<span class="tile-content icon"> 
						<? if (key.icon) { ?>
							<i class="<?= key.icon ?>"></i>
						<? } ?> 
					</span>
					<? if (key.title) { ?> 
						<span class="tile-status">
								<span class="name"><?= key.title ?></span>
						</span>
					<? } ?>
				</a>
			<? } ?> 
		</div>
		
	</body>
</html>